<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= institution.name %></title>
</head>
<body>
    <h1><%= institution.name %></h1>
    <p><%= institution.description %></p>
    <p>Тип: <%= institution.type %></p>
    <p>Адрес: <%= institution.address %></p>
    <p>Рейтинг: <%= institution.rating %></p>
    <a href="/">Назад</a>
</body>
</html>
